<!DOCTYPE html>
<html>
  <head>

    <!-- stylesheet -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- dependencies -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- app -->
    <script src="app/app.module.js"></script>
    <script src="app/app.run.js"></script>
    <script src="app/app.constants.js"></script>
    <!-- services -->
    <script src="app/services/dashboard.factory.js"></script>
    <script src="app/services/milestone.factory.js"></script>
    <script src="app/services/auth.factory.js"></script>
    <!-- landing -->
    <script src="app/landing/landing.module.js"></script>
    <script src="app/landing/landing.controller.js"></script>
    <script src="app/landing/landing.routes.js"></script>
    <!-- login -->
    <script src="app/login/login.module.js"></script>
    <script src="app/login/login.controller.js"></script>
    <script src="app/login/login.routes.js"></script>
    <!-- signup -->
    <script src="app/signup/signup.module.js"></script>
    <script src="app/signup/signup.controller.js"></script>
    <script src="app/signup/signup.routes.js"></script>
    <!-- dashboard -->
    <script src="app/dashboard/dashboard.module.js"></script>
    <script src="app/dashboard/dashboard.controller.js"></script>
    <script src="app/dashboard/dashboard.routes.js"></script>
    <!-- milestone -->
    <script src="app/milestone/milestone.module.js"></script>
    <script src="app/milestone/milestone.controller.js"></script>
    <script src="app/milestone/milestone.routes.js"></script>
    <!-- sidebar -->
    <script src="app/dashboard/sidebar.controller.js"></script>
    <!-- about & tech -->
    <script src="app/about/about.module.js"></script>
    <script src="app/about/about.routes.js"></script>
    <script src="app/tech/tech.module.js"></script>
    <script src="app/tech/tech.routes.js"></script>

  </head>
  <body ng-app="baby">
    <div id="container">
    <div class="navigation">
      <div class="wrap">
        <ul ng-controller="SidebarCtrl as sidebar">
          <li><a ui-sref="about">About Us</a></li>
          <li><h1><a ui-sref="landing">Baby Steps</a></h1></li>
          <li><a ui-sref="tech">Technology</a></li>

          <li style="float:right"><button ng-if="sidebar.authed && !sidebar.inChat" ng-click="sidebar.chat()">
            Global Chat</button>
          </li>
          <li style="float:right"><button ng-if="sidebar.inChat" ng-click="sidebar.leave()">
            Leave Chat</button>
          </li>
          <li style="float:right"><button ng-if="sidebar.authed" ng-click="sidebar.logout()">
            Logout</button>
          </li>

        </ul>
      </div>
    </div>
    </div>

      <!-- template -->
    <div ui-view></div>
  </body>
</html>