<div ng-init="eventadd.init()" class="modal-header">
  <h3 class="modal-title">appointment info</h3>
</div>

<div class="modal-body">
  <!-- form body -->
  <form>
    <div class="form-group">
      <input ng-model="eventadd.appointment" type="text" class="form-control" placeholder="title">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.doctor" type="text" class="form-control" placeholder="doctor">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.location" type="text" class="form-control" placeholder="location">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.notes" type="text" class="form-control" placeholder="notes">
    </div>

    <h5>date</h5>
      <div class="row">
        <div class="col-md-12">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{eventadd.format}}" ng-model="eventadd.dt" is-open="eventadd.popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="{{eventadd.dt | date:'fullDate'}}"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="eventadd.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>

    <div style="padding-left:220px;">
      <uib-timepicker
        ng-model="eventadd.dt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">
      </uib-timepicker>
    </div>

    <!-- dropdown -->
    <div class="form-group btn-group" uib-dropdown is-open="eventadd.status.isopen">
      <h3>&nbsp;child:&nbsp;{{eventadd.childName}}</h3>
      <span><button id="single button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="vm.disabled">{{child.firstName}}<span class="caret"></span>
      </button></span>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem" ng-repeat="child in eventadd.allChildren"><span ng-click="eventadd.inputName(child.firstName)">{{child.firstName}}</span>
          </li>
        </ul>
    </div>
  </form>
</div>

  <div class="modal-footer">
    <button class="btn btn-info" ng-click="eventadd.storeEvent(  
      eventadd.appointment,
      eventadd.doctor, 
      eventadd.location, 
      eventadd.dt, 
      eventadd.childName,
      eventadd.notes); 
      eventadd.displayEvents();"> add appointment
    </button>
    <button class="btn btn-info" ng-click="eventadd.close()">close</button>
  </div>