<div ng-init="eventadd.init()" class="modal-header">
  <h3 class="modal-title">appointment info</h3>
</div>

<div class="modal-body">
  <!-- form body -->
  <form>
    <div class="form-group">
      <input ng-model="eventadd.appointment" type="text" class="form-control" placeholder="appointment">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.doctor" type="text" class="form-control" placeholder="doctor">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.location" type="text" class="form-control" placeholder="location">
    </div>
    <div class="form-group">
      <input ng-model="eventadd.notes" type="text" class="form-control" placeholder="notes">
    </div>

    <div class="form-group">
      <pre>
        <button type="button" class="btn btn-default" ng-focus="eventadd.open1()">
          <i class="glyphicon glyphicon-calendar" uib-datepicker-popup="{{eventadd.format}}" ng-model="eventadd.dt" is-open="eventadd.popup1.opened" datepicker-options="eventadd.dateOptions" ng-required="true" close-text="Close"></i>
        </button>&nbsp;date: <em>{{eventadd.dt | date:'longDate'}}</em>
      </pre>
    </div>
    
    <div style="padding-left:220px;">
      <uib-timepicker
        ng-model="eventadd.dt"
        hour-step="1"
        minute-step="15"
        show-meridian="true">
      </uib-timepicker>
    </div>

    <!-- dropdown -->
    <div class="form-group">
      child:&nbsp;<select ng-model="children" ng-options="child in eventadd.allChildren"></select>
    </div>
  </form>


      <!-- eventadd.inputName(child.firstName)" -->

  <div class="modal-footer">
    <button class="btn btn-info" ng-click="eventadd.storeEvent(  
      eventadd.appointment,
      eventadd.doctor, 
      eventadd.location, 
      eventadd.dt, 
      eventadd.childName,
      eventadd.notes); 
      eventadd.displayEvents();"> add appointment
    </button>
    <button class="btn btn-info" ng-click="eventadd.close()">close</button>
  </div>