    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">


<div ng-init="events.init()"class="text-center" style="padding:50px 0">
  <table class="table table-bordered">

  <button ng-click="events.open()"> OPEN MODAAAL</button>

  <button ng-click="showme=true">
    Coming Up
  </button>
  <button ng-click="showme=false">
    Past Events
  </button>

  <thead>
      <tr>
        <th>Appointment</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
  </thead>
    <!-- <span>EVENTS COMING UP</span> -->
      <tr ng-show="showme" ng-repeat="event in events.comingEvents">
        <th>{{event.appointment}}</th>
        <th>{{event.doctor}}</th>
        <th>{{event.dt | date:'longDate'}}</th>
        <th>{{event.location}}</th>
      </tr>
      <tr ng-hide="showme" ng-repeat="event in events.pastEvents">
        <th>{{event.appointment}}</th>
        <th>{{event.doctor}}</th>
        <th>{{event.dt | date:'longDate'}}</th>
        <th>{{event.location}}</th>
      </tr>
  </table>
</div>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
