    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">


<div ng-init="events.init()"class="text-center" style="padding:50px 0">
  <table class="table table-bordered">

  <button ng-click="showme=false">
    Coming Up
  </button>
  <button ng-click="showme=true">
    Past Events
  </button>

  <thead>
      <tr>
        <th>Child</th>
        <th>Appointment</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Notes</th>
        <th>Delete</th>
      </tr>
  </thead>
    <!-- <span>EVENTS COMING UP</span> -->
      <tr ng-hide="showme" ng-repeat="event in events.comingEvents">
        <th>{{event.childName}}</th>
        <th>{{event.appointment}}</th>
        <th>{{event.doctor}}</th>
        <th>{{event.dt | date:'fullDate'}}</th>
        <th>{{event.dt | date:'shortTime'}}</th>
        <th>{{event.location}}</th>
        <th>{{event.notes}}</th>
        <th><button ng-click="events.removeEvent(event.dt)">DELETE</button>
            <button ng-click="events.editEvent(event.childName, event.appointment, event.doctor, event.dt, event.location, event.notes)">EDIT</button>
            </th>
      </tr>
      <tr ng-show="showme" ng-repeat="event in events.pastEvents">
        <th>{{event.childName}}</th>
        <th>{{event.appointment}}</th>
        <th>{{event.doctor}}</th>
        <th>{{event.dt | date:'fullDate'}}</th>
        <th>{{event.dt | date:'shortTime'}}</th>
        <th>{{event.location}}</th>
        <th>{{event.notes}}</th>
        <th>
          <button ng-click="events.removeEvent(event.dt)">DELETE</button>
          <button ng-click="events.editEvent(event.childName, event.appointment, event.doctor, event.dt, event.location, event.notes)">EDIT</button></th>
      </tr>
  </table>

</div>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
