body {
  margin: 0;
  font-family: 'Lettera-Italic', 'Helvetica Neue', Arial, sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
 /* line-height: 34px;*/
}

a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

/* for selected links on nav bar */
.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.error {
  border: red solid 4px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.success {
  border: green solid 4px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

form {
  text-align: center;
}

.landing {
  text-align: center;
}

/*chart*/
#chartdiv {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
.dashboard {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

.children {
  margin: 20px;
  border-style: solid;
  border-width: 5px 
}

.childbtn1 {
  float: right;
  margin: 5px;
}

.childbtn2 {
  text-align: left;
  margin: 10px;
}