*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: #1caff6;
  font-size: 14px;
  padding: 10px;
  font-family: 'Varela Round';
}
/*=== 2. Anchor Link ===*/
a {
  font-size: 14px;
  color: white;
  transition: all ease-in-out 200ms;
}

/*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: solid #1caff6;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px;
}

/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #1caff6;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 9. Misc ===*/
.logo {
  padding: 15px 0;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.error {
  color: red;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
}

form {
  text-align: center;
}

/*chart*/
#chartdiv {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
}
.dashboard {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

.children {
  margin: 20px;
  border-style: solid;
  border-width: 5px 
}

.childbtn1 {
  float: right;
  margin: 5px;
}

.childbtn2 {
  text-align: left;
  margin: 10px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.intro-divider {
    width: 415px;
    border-top: 3px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.cl-effect-11 a {
  padding: 10px 0;
  color: #0972b4;
  text-shadow: none;
} 

.cl-effect-11 a::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
  max-width: 100%;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
  vertical-align: top;
}

.back {
  background-image: url(../../assets/background.png);
}

.page-main {
  padding: 40px 80px;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 35px 40px 40px 40px;
  width: 100%;
  word-break: break-word;
  margin: 0 auto 30px auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.04);
}