 <div ui-view>

  <h1>Sign Up</h1>

  <div>
    <form>
      <input ng-model="signup.firstname" type="text" placeholder="first name">
      <br>
      <input ng-model="signup.lastname" type="text" placeholder="last name">
      <br>
      <input ng-model="signup.email" type="email" placeholder="email">
      <br>
      <input ng-model="signup.username" type="text" placeholder="username">
      <br>
      <input ng-model="signup.password" type="password" placeholder="password">
      <br>
        <button ng-click="signup.signup(
        signup.firstname,
        signup.lastname,
        signup.email,
        signup.username,
        signup.password
        )"> Create Account
        </button>
    </form>
  </div>
<br>
    <div ng-if="signup.error" class="">
      <div class="">
        <p></p>
        <p>{{signup.message}}</p>
      </div>
    </div>

</div>