<div>Hello! this is MileStones!!!!</div>

<form name="conditionForm">
  Condition Type: <input name="input" ng-model="milestone.condition" >
        <button ng-click="milestone.displayCondition()" class="button button-block button-stable">Get Condition Data</button>
        <div>{{milestone.conditionData}}</div>




  <h3>Gross Motor</h3>

      <div ng-repeat="(key, value) in milestone.conditionPersonalSocial"> {{key}} Start {{(value[0]/24)*100}} End {{(value[1]/24)*100}} Middle {{((value[1]-value[0])/24)*100}}

      <div class = "progress-bar progress-bar-success" role = "progressbar"
        aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width:{{(value[0]/24)*100}}%;">
      </div>

      <div class = "progress-bar progress-bar-info" role = "progressbar"
        aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width:{{((value[1]-value[0])/24)*100}}%;">
      {{key}}
      </div>

      <div class = "progress-bar progress-bar-success" role = "progressbar"
        aria-valuenow = "60" aria-valuemin = "0" aria-valuemax = "100" style = "width:{{(value[1]/24)*100}}%;">
      </div>





      </div>
    <div class = "progress" >



<!--       <div class = "progress-bar progress-bar-success" role = "progressbar" style = "width:{{milestone.conditionGrossMotorLast}}%;">
      </div> -->

   </div>
<!--
            <h3>Personal Social</h3>
    <div class="row">

        <div class="col-sm-4">
          <uib-progressbar value="55">
            Uses Spoon
          </uib-progressbar>
        </div>

        <div class="col-sm-4">
          <uib-progressbar class="progress-striped" value="22" type="warning">
            Drinks Unassisted
          </uib-progressbar>
        </div>

        <div class="col-sm-4">
          <uib-progressbar class="progress-striped active" max="200" value="166" type="danger">
            <i>Finger Feeds</i>
          </uib-progressbar>
        </div>

        <div class="col-sm-4">
          <uib-progressbar class="progress-striped active" max="200" value="166" type="danger">
            <i>Responsive Smile</i>
          </uib-progressbar>
        </div>

    </div>

                <h3>Language</h3>
    <div class="row">

        <div class="col-sm-4">
          <uib-progressbar value="55">
            Two Word Phrases
          </uib-progressbar>
        </div>

        <div class="col-sm-4">
          <uib-progressbar class="progress-striped" value="22" type="warning">
            First Words
          </uib-progressbar>
        </div>

    </div>
 -->





    <h3>Stacked
      <button type="button" class="btn btn-sm btn-primary" ng-click="randomStacked()">Randomize</button>
    </h3>

    <uib-progress>
      <uib-bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}">
        <span ng-hide="bar.value < 5">{{bar.value}}%</span>
      </uib-bar>
    </uib-progress>


