<div ui-view>

  <h1>Dashboard</h1>
  <div ng-controller="DashboardCtrl as addchild">
    <div class="container">
      <br />
      <button class="btn btn-primary" ng-click="dashboard.open()">ADD</button>&nbsp;Add a child
    </div>
  </div>

  <button ng-click="dashboard.displayUsers()">See the User!</button>
  <div ng-repeat="child in dashboard.children">
    <li>{{child}}</li>
  </div>
</div>

<!-- FOR CHAT SYSTEM, SUPER ROUGH -->

<!-- <ion-nav-bar class="bar-stable landing-button" ng-controller="DashboardCtrl as dash">
      <ion-nav-buttons side="left">
        <button ng-if="nav.authed && !nav.inChat" class="button landing-button" ng-click="nav.chat()">
          Global Chat
        </button>
        <button ng-if="nav.inChat" class="button landing-button" ng-click="nav.leave()">
          Leave Chat
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button ng-if="nav.authed" class="button landing-button" ng-click="nav.logout()">
          Logout
        </button>
      </ion-nav-buttons>
    </ion-nav-bar> -->