<div ui-view>

  <h1>Log In</h1>
  <br>

  <div>
    <form>
      <input ng-model="login.username" type="text" placeholder="username">
      <br>
      <input ng-model="login.password" type="password" placeholder="password">
      <br>
        <button ng-click="login.login(login.username, login.password)">
        Login
        </button>
        <br>
        <button ng-click="login.redirectToSignup()">
        Sign Up
        </button>
    </form>
  </div>

  <div ng-if="login.error" class="error">
    <div class="">
      <p></p>
      <p>{{login.message}}</p>
    </div>
  </div>

</div>
